*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

nav{
    color: #FFFFFF;
    background-color: #193073;
    padding: 2rem;
    width: 100%;
    
}

footer{
    text-align: right;
}

.txt-white{
    color: #FFFFFF;
}

.bc-blue{
    background-color: #0d8bd9;
}

.bc-green{
    background-color: green;
}

.bc-opaco{
background-color: #d3d3d3;
}

a{
   text-decoration: none;
   color: #FFFFFF;
}

table{
    margin: 1rem;
}
.but{
    border-radius: 0.5rem;
    font-size: 13;
    width: 165px;
    height: 35px;
    border: none;
    color: white;
    padding: 0.5rem;
}

.edite{
    background-color: #0d8bd9;
}

.edite:hover{
    background-color: #0b6ca9;
}

.delete{
    background-color: #FF0000;
}

.delete:hover{
    background-color: #c40101;
}

.btnn {
    color: #fff;
    border: none;
    width: 100%;
    margin: 1rem;
    margin-bottom: 0rem ;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-crie {
    background-color: #28a745;
}

.btn-crie:hover {
    background-color: #218838;
}

.btn-cancelar {
    background-color: #007bff;
}

.btn-cancelar:hover {
    background-color: #0056b3;
}

.total{
    padding: 1rem;

}